.left-panel {
    width: 250px;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.left-title {
    margin: 0 0 20px 10px;
    font-weight: bold;
}

.top-button {
    background-color: #888;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 0 10px 20px 10px;
    cursor: pointer;
}

.pdf-list {
    flex-grow: 1;
    background-color: #ddd;
    border-radius: 10px;
    margin: 0 10px;
    overflow-y: auto;
}

.bottom-button {
    background-color: #888;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 10px 0 10px;
    cursor: pointer;
}