.app-container {
    display: flex;
    height: 100vh;
    gap: 10px;
    background-color: #e0e0e0;
    padding: 10px;
    box-sizing: border-box;
}

.left-panel {
    flex: 1;
    max-width: 200px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center-panel {
    flex: 2;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-panel {
    flex: 1.25;
    max-width: 300px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}